@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontMType: "Montserrat", sans-serif;
  --btnFont: 600;
  --fontSType: "Crimson Pro", serif;
  --scFont: 300;
  --primaryColor: #5b9bd5;
  --secColor: #cad647;
  --thrColor: #d67772;
}

h1,
h2,
h3 {
  font-family: var(--fontMType);
}
p {
  font-family: var(--fontSType);
}

@media screen and (min-width: 570px) {
  h1,
  h2,
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
